$color-first: #52aac1;
$color-second: #d96d4f;
$color-third: #e1975e;
$color-fourth: #efd9b5;
$color-light: #f7f9fe;
$color-contrary: #F46D50;
$color-text: #495057;
$color-divider: #edeff1;
$color-gray1: #f1f3f5;
$color-gray2: #e9ecef;
$color-gray3: #dee2e6;
$color-gray4: #ced4da;
$color-gray5: #adb5bd;
$color-gray6: #868e96;
$color-gray7: #495057;
