.bg-transparent {
  background-color: transparent;
}

.bg-white {
  background-color: white;
}

.bg-gray0 {
  background-color: #f7f9fe;
}

.bg-gray7 {
  background-color: #495057;
}

.white {
  color: #fff;
}

.gray0 {
  color: #f7f9fe;
}

.gray1 {
  color: #f1f3f5;
}

.gray2 {
  color: #e9ecef;
}

.gray3 {
  color: #dee2e6;
}

.gray4 {
  color: #ced4da;
}

.gray5 {
  color: #adb5bd;
}

.gray6 {
  color: #868e96;
}

.gray7 {
  color: #495057;
}

.blue {
  color: blue;
}
