@import "./align";
@import "./bootstrap-reboot";
@import "./border";
@import "./button";
@import "./color";
@import "./creative-btn/index";
@import "./display";
@import "./element";
@import "./font";
@import "./layout";
@import "./link";
@import "./margin";
@import "./position";
@import "./padding";
@import "./scrollbar";
@import "./shadow";
@import "./user";
@import "./vue-transition";

@media screen and (min-width: 540px) {
  .items-center-ns {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }

  .flex-row-ns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .justify-between-ns {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
