.relative {
  position: relative;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.t0 {
  top: 0;
}

.b0 {
  bottom: 0;
}

.l0 {
  left: 0;
}

.r0 {
  right: 0;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  z-index: 1000;
}
