$--breakpoint-sm: 576px;
$--breakpoint-md: 768px;
$--breakpoint-lg: 992px;
$--breakpoint-xl: 1200px;

$color-gray1: #f1f3f5;
$color-gray2: #e9ecef;
$color-gray3: #dee2e6;
$color-gray4: #ced4da;
$color-gray5: #adb5bd;
$color-gray6: #868e96;
$color-gray7: #495057;
